* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #ece9df;
    color: #333;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

.user-info {
    font-size: 0.9rem;
}


/*Navbar*/
.navBar ul {
    display: flex;
    width: 250px;
    justify-content: center;
    padding: 20px 20px;
    background-color: #fff;
    list-style: none;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navBar a {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.navBar a:hover {
    background-color: #1d3557;
    border-radius: 20px;
    transition: 0.5s;
}

.active {
    background-color: #c59f3e;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
}



/*Card*/
.form-card {
    width: 100%;
    max-width: 1000px;
    background: white;
    border-radius: 20px;
    padding: 30px;
    margin: 25px auto;
}


#contador {
    text-align: right;
    margin: 5px 0 0 0;
    font-size: 0.9rem;
    color: grey;
}

.btn-submit,
.btn-clean {
    border-radius: var(--radius);
    padding: 0.6rem 1.3rem;
    font-weight: 600;
    min-width: 120px;
    transition: transform 0.2s ease;
}

.btn-clean {
   margin-right: 0.5rem;
}



/*Footer*/
.footer {
    background-color: #1d3557;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 0.85rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}