* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #ece9df;
    color: #333;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

.topbar {
    background-color: #1d3557;
    color: #c59f3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    margin: 10px 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.topbar h1 {
    font-size: 1.5rem;
}

.topbar h2 {
    font-size: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 60px;
    height: auto;
    border-radius: 6px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #c59f3e;
    border: none;
    font-size: 0.95rem;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
}

.dropbtn:hover {
    background-color: #b4b6b9;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-info {
    font-size: 0.9rem;
}


/*Navbar*/
.navBar ul {
    display: flex;
    width: 250px;
    justify-content: center;
    padding: 20px 20px;
    background-color: #fff;
    list-style: none;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navBar a {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.navBar a:hover {
    background-color: lightgreen;
    border-radius: 20px;
    transition: 0.5s;
}

.active {
    background-color: #c59f3e;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
}



/*Card*/
.form-card {
    width: 100%;
    max-width: 1000px;
    background: white;
    border-radius: 20px;
    padding: 30px;
    margin: 25px auto;
}


#contador {
    text-align: right;
    margin: 5px 0 0 0;
    font-size: 0.9rem;
    color: grey;
}

.btn-submit {
    color: white;
    background-color: #0d6efd;
    border-radius: 20px;
    padding: 10px;
    width: 80px;
    transition: 1s;
}

.btn-clean {
    color: white;
    background-color: gray;
    border-radius: 20px;
    padding: 10px;
    width: 80px;
    transition: 1s;
}



/*Footer*/
.footer {
    background-color: #1d3557;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 0.85rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}